

<div class="testbox">
  <h1>Student Registration</h1>

  <form action="/">
    <hr>
    <div class="accounttype">
      <input type="radio" value="None" id="radioOne" name="account" checked/>
      <label for="radioOne" class="radio" chec>Students</label>
      <input type="radio" value="None" id="radioTwo" name="account" />
      <label for="radioTwo" class="radio">Teachers</label>
    </div>
  <hr>

  <label id="icon" for="name"><i class="fa fa-envelope-o "></i></label>
  <input type="text" name="name" id="name" placeholder="Email" required/>

  <label id="icon" for="name"><i class="fa fa-user-o"></i></label>
  <input type="text" name="name" id="name" placeholder="First Name" required/>

  <label id="icon" for="name"><i class="fa fa-user-o"></i></label>
  <input type="text" name="name" id="name" placeholder="Last Name" required/>

  <label id="icon" for="name"><i class="fa fa-calendar" aria-hidden="true"></i></label>
  <input type="text" name="name" id="name" placeholder="Date of Birth" required/>

  <label id="icon" for="name"><i class="fa fa-key" aria-hidden="true"></i></label>
  <input type="password" name="name" id="name" placeholder="Password" required/>
 
<hr>
   
   <a href="#" class="button">Register</a>
  </form>
</div>

