html,body{
    font-family: 'Poppins', 'sans-serif';
    color: white;
}

.dashboardBox {
  width: auto;
  height: auto;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 1px 2px 15px #3030304f;
  margin: 25px 25px;
  padding: 20px 50px 50px 50px;

}

table {
  font-family: poppins, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;

}

.addStudentButton{
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  background-color: #0acb41;
  width: 150px;
  height: 50px;
  float: right;
  margin-bottom: 40px;
}

.addStudentButton:hover{
  background-color: #03b618;
}

.updateButton{
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  background-color: #1A82F7;
  width: 130px;
  height: 50px;
  margin-left: 40px;
}

.updateButton:hover{
  background-color: #115fb8;
}

.deleteButton{
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  background-color: #f0410c;
  width: 130px;
  height: 50px;
  margin-left: 40px;
}

.deleteButton:hover{
  background-color: #b33008;
}
