body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
textarea,
select {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

p {
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: gray;
}

h1 {
  font-family: 'poppins', 'sans-serif';
  font-size: 35px;
  font-weight: 600;
  color: #242424;
  text-align: center;
  padding-top: 35px;
  margin-bottom: -15px;
}

.subDescription{
  font-family: 'poppins', 'sans-serif';
}

h4 {
  font-family: 'poppins', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
  color: gray;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

html,body{
  background-color: #ffffff;
}

.alert-box{
  background-color: #D9EBDB;
  width: 520px;
  height: 50px;
  border-radius: 8px/7px; 
  left      : 50%;
  top       : 4%;
  position  : absolute;
  transform : translate(-50%, -50%);
  text-align: center;
  -webkit-animation: cssAnimation 5s forwards; 
  animation: cssAnimation 5s forwards;
  
}

@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}

.alertMessage{
  margin-top: 15px;
  color: #2A552A;
}

.testbox {
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
  width: 520px; 
  height: 820px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ffffff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 15px rgba(48, 48, 48, 0.31); 
  
}

input[type=radio] {
  visibility: hidden;
}

form{
  margin: 20px 50px;
}

label.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

label.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text],input[type=password], input[type=date]{
  width: 335px; 
  height: 58px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #f2f2f2; 

  border: solid 0px #cbc9c9;
  margin-left: -5px;
  margin-top: 35px; 
  padding-left: 10px;
}

input[type=password]{
  margin-bottom: 25px;
}

input[type=date]{
  color: grey;
}

.validation-alert{
  position: relative;
  color: red;
  margin-left: 15px;;
}
.email-validation-alert{
  position: absolute;
  margin-top: 3px;
}

#icon {
  display: inline-block;
  width: 40px;
  background-color: #F2F2F2;
  padding: 20px 0px 4px 15px;
  margin-left: 10px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: #9a9a9a;
  border: solid px #cbc9c9;
  height: 34px;
  
}

.lettericon{
text-align: left;
margin-left: -0px;
font-size: 15px;
text-decoration: none;
color: #9A9A9A;

}

.gender {
  margin-left: 30px;
  margin-bottom: 30px;
}

.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}

button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 3px 25px 0px 20px;
  margin-left: 0px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  width: 420px; height: 55px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  transition: all 0.1s linear 0s;
  border-radius: 5px; 
  background-color: #1463da; 
  text-align: center;
  align-items: center;
  border: none;
}

button:hover {
  top: 3px;
  background-color:#0f4da9;

  
}








